.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.headerRight {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 48px;
  white-space: nowrap;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  cursor: pointer;
}

.username {
  color: #fff;
  margin-left: 8px;
}

.content {
  padding: 24px;
  background: #f0f2f5;
  min-height: calc(100vh - 64px);

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),     /* 白色半透明遮罩 */
    rgba(255, 255, 255, 0.15)
  ), url('/public/rs-bg.jpg');    /* 背景图片 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
}

.mainMenu {
  background-color: transparent;
}

.mainMenu :global(.ant-menu-item-selected) {
  background-color: #1890ff !important;  /* 使用 antd 的主题蓝色 */
}
