body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),     /* 白色半透明遮罩 */
    rgba(255, 255, 255, 0.15)
  ), url('/public/rs-bg.jpg');    /* 背景图片 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
