.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),     /* 白色半透明遮罩 */
    rgba(255, 255, 255, 0.15)
  ), url('/public/rs-bg.jpg');    /* 背景图片 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.card {
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card :global(.ant-card-head-title) {
  text-align: center;
  font-size: 24px;
  color: #1890ff;
}

.login {
  text-align: center;
  margin-top: 16px;
}

.login a {
  color: #1890ff;
} 